/*/
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 1, 2016, 6:38:03 PM
    Author     : migue
*/


/*.divJump{
    border-style: double;
    width: 1000px;
    color: #333333;
}

.button{
    width:100px;
    height: 75px;
    font-family: "helvetica";
    font-weight: bold;
    font-size: large;
    text-align: center;
}


body{
	font-family: 'PT Sans Narrow';
	font-size: 22px;
}

h1{
	color: gray;	
}*/